
.beer-list {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    padding: 1vw 3vw 0 3vw;
}

.beer-list__container {
    display: flex;
    flex-direction: column;
    flex: 9 1;
}
.beer-list__big {
    flex-direction: row;
    flex-wrap: wrap;
}

.beer-list__small {
    flex-direction: column;
}

.beer-list__btn-container{
    display: flex;
    flex: 1 1;
}