.beer-item {
    display: flex;
    flex: 1 1;
    flex-direction: row;
    height: 12rem;
    max-width: 95vw;
    min-width: 30vw;
    box-shadow: 1px 1px 6px lightslategray;
    border: 0.1px gray;
    border-radius: 6px;
    padding: 16px;
    cursor: pointer;
    margin: 1vh 1vw 1vh 1vw;
}

.beer-item > * {
    font-family: Montserrat;
}

.beer-item:hover {
    background-color: aliceblue;
}

.beer-item__image {
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

img {
    max-width: 120px;
    max-height: 120px;
}


.beer-item__text-container {
    display: flex;
    flex: 8 3;
    flex-direction: column;
}

.beer-item__name, h2 {
    display: flex;
    flex: 1 1;
    margin: 0.2vh 0;
}
.beer-item__type, h4 {
    display: flex;
    flex: 1 1;
    margin: 0.2vh 0;
    color: orange;
}
.beer-item__description {
    display: flex;
    flex: 3 1;
}
.beer-item__description-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.beer-item__description-text-big-screen {
    -webkit-line-clamp: 6;

}
.beer-item__description-text-mobile {
    -webkit-line-clamp: 4;
}

.beer-item__tooltip {
    max-width: 25vw;
}