.load-more {
    display: flex;
    padding-bottom: 2vh;
    flex: 1 1;
    flex-direction: row;
}
.load-more__button {
    display: flex;
    flex: 1 1;
    justify-content: center;
    border: none;
    color: dodgerblue;
    background: none;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    font-family: Montserrat;
    
}


.load-more__spacer {
    display: flex;
    flex: 4 1;
}